<!DOCTYPE html>
<html lang="en" ng-app="fourDVW">
<head>
    <meta charset="UTF-8">
    <title>4DVW | Login</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="LoginCtrl" ng-cloak class="ng-cloak">
    <div id="login" class="container-fluid">
        <div class="row">
            <div class="buffer col-md-4 col-sm-4"></div>
            <div class="login-inputs-container col-md-4 col-sm-4">
                <h1> Temp Login </h1>
                <input type="text" placeholder="EMAIL" ng-model="user.email"/>
                <input type="password" placeholder="PASSWORD" ng-model="user.password"/>
            </div>
            <div class="buffer col-md-4 col-sm-4"></div>
        </div>
        <div class="row">
            <div class="buffer col-md-4 col-sm-4" ></div>
            <div class="button-container col-md-4 col-sm-4">
                <span class="btn btn-success" ng-click="signin()">Sign In</span>
                <span class="btn btn-primary" ng-click="register()">Register</span>
                <span class="btn btn-warning" ng-click="forgotPassword()">Forgot Password</span>
            </div>
            <div class="buffer col-md-4 col-sm-4"></div>
        </div>

    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/fourDVW.js"></script>
    <script type="text/javascript" src="js/api_service.js"></script>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>
