<!DOCTYPE html>
<html lang="en" ng-app="uwh_dictionary">
    <head>
        <title>UWH Dictionary</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />

    </head>
    <body ng-controller="HomeCtrl" class="ng-cloak" ng-cloak>
    	<div class="container">

 			<div id="top-panel" class="row image-border">
 				<div class="col-md-12">
 					<img src="/images/Underwater_Hockey.png" height="100%" width="100%" />
 				</div>
 			</div>
 			<div class="row image-border">
 				<div class="col-md-12">
 					<img src="/images/{{selectedPhase}}.png" height="100%" width="100%" />
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 				</div>
 			</div>
 		</div>
    </body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/uwh_dictionary.js"></script>
    <script src="js/api_service.js"></script>
	<script src="js/home_ctrl.js"></script>
</html>
