<!DOCTYPE html>
<html lang="en" ng-app="uwh_dictionary">
    <head>
        <title>UWH Dictionary</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
    <body ng-controller="HomeCtrl" class="ng-cloak" ng-cloak>
    	<div class="container">
            <div id="searchBar" class="row">
                Search: <input id="searchField" size="50" ng-model="searchValue">
            </div>
 			<div id="top-panel" class="row image-border">
 				<div class="col-md-12">
 					<img src="/images/Underwater_Hockey.png" height="100%" width="100%" />
 				</div>
 			</div>
 			<div id="phase-panel" class="row image-border">
 				<div class="col-md-12" ng-if="selectedPhase">
 					<img src="/images/{{selectedPhase.name}}.png" height="100%" width="100%" />
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-12">
 				</div>
 			</div>
 		</div>

 		<div id="phaseKeyValueModal" class="modal fade">
 			<div class="modal-dialog">
 				<div class="modal-content">
 					<div class="modal-header" ng-if="selectedPhaseKey">
                        <b>{{titleCase(selectedPhase.display_name)}}</b>->
                        <b>{{titleCase(selectedPhaseKey.decision)}}</b>->
 						<b>{{titleCase(selectedPhaseKey.card)}}</b>->
                        <b>{{titleCase(selectedPhaseKey.name)}}</b>
 					</div>
 					<div class="modal-body">
 						<div ng-repeat="value in selectedPhaseKey.values">
 							<img src="/dictionary_values/{{value}}" width="100%"/>
 						</div>
                        <br>
                        <a href="{{root}}?phase={{selectedPhase.id}}&key={{selectedPhaseKey.id}}"><span class="glyphicon glyphicon-link"></span>{{root}}?phase={{selectedPhase.id}}&key={{selectedPhaseKey.id}}
                        </a>
 					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
 				</div>
 			</div>
 		</div>
        {{selectedPhaseKey}}
    </body>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/uwh_dictionary.js"></script>
    <!-- <script src="js/api_service.js"></script> -->
    <script src="js/phase.js"></script>
	<script src="js/home_ctrl.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>
