#dashboard {
    background-color: #aff8ff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    color: black;
}

.btn { 
    margin: 5px;
}

.room-manager {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

.profile-card {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

.project-card {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin-top: 60px;
}

.project-list {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin-top: 60px;
}

.parking-entry:hover{
    cursor: pointer;
    background-color:teal;
    color: white;
}

.project-entry:hover{
    cursor: pointer;
    background-color:teal;
    color: white;
}

.unit-entry:hover{
    cursor: pointer;
    background-color:teal;
    color: white;
}

.parking-list-container .selected {
    background-color: teal;
    color: white;    
}

.unit-list-container .selected {
    background-color: teal;
    color: white;    
}

.project-list .selected {
    background-color: teal;
    color: white;
}

.room-entry:hover {
    cursor: pointer;
    background-color:teal;
    color: white;
}

.room-list-container .selected {
    background-color: teal;
    color: white;
}

.room-list-container {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin-top: 60px;
}

.unit-list-container {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin-top: 60px;
}

.unit-manager-container {
    text-align: left;
    margin: 5px;
    border: black solid thick;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    margin-top: 60px;
}