#searchBar {
    background-color: lightblue;
    height: 25px;
    width: 100vw;
    text-align: center;
}

.phase-button {
    width: 50px;
    height: 20px;
    border: red solid 1px;
    cursor: pointer;
}

.phase-button:hover{
    background: lightblue;
    opacity: 0.5;
}

.image-border {
    padding: 10px;
}

#top-panel {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

#phase-panel {
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

.col-md-12 {
    padding: 0px;
}
