.phase-button {
    width: 50px;
    height: 20px;
    border: red solid 1px;
}

.image-border {
    border: black solid 2px;
    padding: 10px;
}

#top-panel {
    position: relative;
}

.container {
    width: 100%;
}